h1 {
    margin-top: 60px;
  }
  
  div {
    text-align: center;
    margin-bottom: 4px;
  }
  
  .sign-in {
    border: 2px black solid;
    margin-top: 40px;
    padding: 0px 10px 40px 10px;
    background-color: grey;
    width: 50%;
  }
  
  .registration {
    border: 2px black solid;
    margin-top: 40px;
    padding: 0px 10px 40px 10px;
    background-color: grey;
     width: 50%;
  }
  
  .landing-page {
    border: 2px black solid;
    margin-top: 40px;
    padding: 40px 10px 40px 10px;
    background-color: grey;
    width: 50%;
  }

  :root {
    box-sizing: border-box;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }
  
  body {
   background-color: #eee;
   font-family: Helvetica, Arial, sans-serif;
  }
  
  header {
    padding: 1em 1.5em;
    color: #fff;
    background-color: #0072b0;
    border-radius: .5em;
  }
  
  .container {
    display: flex;
  }
  
  main {
    display: block;
  }
  
  .wrapper {
    margin-left: -1.5em;
    margin-right: -1.5em;
  }
  
  .main {
    width: 70%;
    background-color: #fff;
    border-radius: .5em;
  }
  
  .sidebar {
    width: 30%;
    margin-left: 1.5em;
    padding: 1.5em;
    background-color: #fff;
    border-radius: .5em;
  }
  
  .button-link {
    display: block;
    padding: 0.5em;
    color: #fff;
    background-color: #0090C9;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .button-link + .button-link {
    margin-top: 1.5em;
  }
  